.spinner-loading {
    width: 50px;
    height: 50px;
    display: grid;
    animation: spinner-plncf9 3s infinite;
}

.spinner-loading::before,
.spinner-loading::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: var(--bs-primary) var(--bs-primary) #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
}

.spinner-loading::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
    animation-direction: reverse;
}

@keyframes spinner-plncf9 {
    100% {
        transform: rotate(1turn);
    }
}