:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(var(--bs-light), var(--bs-dark));
    color: light-dark(var(--bs-dark), var(--bs-light));
}

.card {
    background-color: light-dark(var(--bs-light), var(--bs-dark)) !important;
    color: light-dark(var(--bs-dark), var(--bs-light)) !important;
}

.list-group-item {
    background-color: light-dark(var(--bs-light), var(--bs-dark)) !important;
    color: light-dark(var(--bs-dark), var(--bs-light)) !important;
}
